<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
  <html>
  <meta charset="UTF-8">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= stylesheet_link_tag "home" %>
    <div class="jumbotron home-top">
      <div class="hero">
        <p><%= I18n.t("home_page.n1")%><br /><%= I18n.t("home_page.n2")%></p>
        <p><%= I18n.t("home_page.home_top.title")%></p>
        <h6><%= I18n.t("home_page.home_top.h6")%></h6>
      </div>
    </div>

    <div class="logos-container">
      <div data-w-id="4dca7924-df5b-ffba-c165-7c96a7b329c7" class="section-logos">
        <div class="small-heading-wrapper">
          <h2 class="heading-2"><%= I18n.t("section_logos.h2")%></h2>
         </div>
        </div>
      </div>

      <div class="row logos-wrapper">
        <div class="col-sm brand-names p-2.5 m 1.5">
          <img src= "/assets/VOGUE_LOGO.svg">
        </div>
        <div class="col-sm brand-names">
          <img src= "/assets/Glamour-Logo.svg">
        </div>
        <div class="col-sm brand-names">
          <img src= "/assets/narcos-1.svg">
        </div>
        <div class="col-sm brand-names">
          <img src= "/assets/time-logo.svg">
        </div>
      </div>
    </div>
  </body>
</html>

