<!DOCTYPE html>
<html>
  <head>
    <title>PhotographyEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body> 
    <%= render 'layouts/header' %>

    <div text-align="center">
      <a class="nav-link active" aria-current="page" href="#"> <%= yield %></a>
     </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
